/******************************************************************

Stylesheet: 960px以下のモニタで適用

******************************************************************/

//costomer

.customer {
  & .check-list {
    font-size: 12px;
  }
}

//footer

.footer {
  &__info {
    padding-left: 4%;
  }

  &__contact {
    flex-direction: column;
  }

  &__mail {
    margin-bottom: 5px;
  }
}
