/******************************************************************

Stylesheet: 960px以下のモニタで適用

******************************************************************/



//footer

.footer {
    &__info {
      padding-left: 4%;
    }
  
    &__contact {
      flex-direction: column;
    }
  
    &__mail{
        margin-bottom: 5px;
    }
  }